<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Drag-and-drop final feedback</title>
  <base href="{{ serverUrl|safe }}">
  {{ headContent|safe }}
  <link href="/static/draganddrop/feedback.css" rel="stylesheet">
  <script src="/static/draganddrop/jquery.min.js"></script>
  <script type="text/javascript">
    window.draganddrop = {{ payload|safe }};
  </script>
  <script src="/static/draganddrop/feedback.js"></script>
</head>
<body>

<div class="draganddrop">
    <div class="draganddrop-content">
        {{ exercise|safe }}
    </div>
    
    <div class="draganddrop-info">
        <div class="draganddrop-feedback"></div>
        <div class="draganddrop-points">
          <b>You scored {{ score }}%.</b>
          Correct: <span class="draganddrop-correct-answers">{{ correctAnswers }}</span>
          Wrong: {{ incorrectAnswers }}
        </div>
        {% if finalComment %}
        <div class="draganddrop-finalcomment">{{ finalComment|safe }}</div>
        {% endif %}
    </div>
</div>

</body>
</html>

