.draganddrop {
  font-family: monospace, Lucida;
  font-size: 14px;
}

.draganddrop-draggables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  /* max-height set in JS */
  overflow: auto;
  background-color: rgba(242, 242, 242, 0.5);
}

.draganddrop-draggables.fixed {
  position: fixed;
  top: 0px;
  width: 98%;
  max-height: 180px;
}

.draganddrop-draggables.vertical {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  padding: 0;
  flex-direction: column;
}

.draganddrop-draggables.start {
  justify-content: flex-start;
}
.draganddrop-draggables.end {
  justify-content: flex-end;
}

.draganddrop-draggables.vertical.right {
  left: unset;
  right: 0;
}

.draganddrop-draggables.vertical .draggable {
  margin-left: 0;
  margin-right: 0;
}

.draggable {
  flex: 0 1 auto;
  padding: 0.2em;
  margin: 1px; /* some empty space between the draggable boxes */
  background-color: rgb(223, 240, 216);
  border: solid 1px black;
  cursor: move;
}

.draggable.disabled, .draggable.disabled:hover {
  background-color: rgb(204, 204, 204);
  color: rgb(89, 89, 89);
  cursor: not-allowed;
}

/* draggables are disabled when the exercise is completed */
.draggable.finished {
  cursor: not-allowed;
}
.draggable.finished:hover {
  color: rgb(0, 0, 0);
}

.draggable.selected {
  background-color: rgb(74, 237, 33);
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.draggable:hover {
  color: rgb(20, 67, 255);
}

.small {
  font-size: small;
}

.droppable {
  /* droppable spaces between words should not be collapsed (zero width) at the end of lines */
  white-space: pre-wrap;
  border: 0.15em dotted #aaaaaa;
}

.droppable * {
  /* hack for dragenter and dragleave events: child elements do not trigger them with
  pointer events disabled and thus the dragleave event is not triggered for the parent
  when the cursor moves from the parent to its children */
  pointer-events: none;
}

/* hover over a droppable */
.droppable:hover {
  color: blue;
  cursor: pointer;
  background-color: #eee;
}
/* drag event hovering over a droppable */
.droppable.over {
  color: blue;
  background-color: #eee;
}

/* hover over a droppable that has been answered: they can be clicked to show their feedback again */
.droppable.correct:hover {
  background-color: #cfc;
}
.droppable.wrong:hover {
  background-color: #fcc;
}
.droppable.neutral:hover {
  background-color: #ccf;
}

.draganddrop-content {
  clear: both; /* clear draggable floats */
  line-height: 1.5;
}

.draganddrop-content.fixed-info {
  margin-bottom: 180px; /* must match the height of the fixed position element .draganddrop-info */
}

.draganddrop-content.fixed-draggables {
  margin-top: 180px; /* must match the height of the fixed position element .draganddrop-draggables */
}

.vertical-draggables .draganddrop-content {
  margin-left: 10%;
}
.vertical-right-draggables .draganddrop-content {
  margin-right: 10%;
}

.draganddrop-info {
  background-color: rgb(242, 242, 242);
}

.draganddrop-info.fixed {
  position: fixed;
  bottom: 0px;
  width: 98%;
  max-height: 180px;
  overflow-y: scroll;
}

.vertical-draggables .draganddrop-info {
  margin-left: 10%;
}
.vertical-draggables .draganddrop-info.fixed {
  width: 88%;
}
.vertical-right-draggables .draganddrop-info {
  margin-right: 10%;
}
.vertical-right-draggables .draganddrop-info.fixed {
  width: 88%;
}

.draganddrop-feedback {
  padding: 1em;
}

.draganddrop-combinedfeedback {
  color: rgb(51, 51, 255);
}

.draganddrop-complete-msg {
  padding: 0.5em 1em 0.1em;
}

.draganddrop-finalcomment {
  background-color: rgb(159, 224, 244);
  padding: 0.1em 1em 0.5em;
}

.draganddrop-correct-answers {
  padding-right: 1em;
}

.draganddrop-quit-button {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  padding: 0.375em 0.75em;
  line-height: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(200, 200, 200);
  border: 0;
  border-radius: 0.25em;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.draganddrop-quit-button:hover {
  background-color: rgb(170, 170, 170);
}
.draganddrop-quit-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.draganddrop-quit-button:disabled {
  color: rgb(230, 230, 230);
  background-color: rgb(180, 180, 180);
  box-shadow: none;
  cursor: not-allowed;
}

.correct {
  background-color: #cfc;
  border: solid 2px green;
}

.wrong {
  background-color: #fcc;
}

.neutral {
  background-color: #ccf;
}

.hide {
  display: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: black;
  background-color: #f9f2f4;
  border-radius: 4px;
}
